<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
</head>
<body>

<h2>Your Notes</h2>
<table border="1">  
    <tr>
        <th>Title</th>
        <th>File</th>
        <th>Uploaded by</th>
        <th>Department</th>
    </tr>
    {% for note in notes %}
    <tr>
        <td>{{ note.title }}</td>
        <td><a href="{{ note.file.url }}" target="_blank">View/Download</a></td>
        <td>{{ note.teacher.teacher_id.first_name }}</td>
        <td>{{ note.teacher.teacher_id.department.department }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="4">No notes uploaded yet.</td>
    </tr>
    {% endfor %}
</table>
      <a href="{% url 'admin_h' %}" class="btn btn-secondary">Back</a>

</body>
</html>
